.cart {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-grow: 1;
}

.cart h1 {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.cart .cartPanel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.cart .cartPanel button {
    width: 45%;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid rgb(58, 186, 141);
    padding: 5px;
    background-color:white;
    padding: 10px;
    text-align: center;
    color: rgb(58, 186, 141);
    outline: none;
}

.cart p.info {
    width: 100%;
    text-align: center;
    color: red;
}

.cart p.cash {
    padding: 5px;
    width: 100%;
    text-align: center;
}

.cart p.cash span {
    color: rgb(58, 186, 141);
    font-weight: 900;
}